.project
bin/
notes/
# Other files and folders
c_socket.io_server.sublime-workspace
# information for Eclipse / Flash Builder.
.settings/
bin-release/
bin-debug/
# should NOT be excluded as they contain compiler settings and other important
need.todo
/memwatch
c_socket.io_server.sublime-project
# Project files, i.e. `.project`, `.actionScriptProperties` and `.flexProperties`
socket.io_server
core
mem_watch.log
test/
# Build and Release Folders