# Build and Release Folders
bin/
bin-debug/
bin-release/

# Other files and folders
.settings/
c_socket.io_server.sublime-project
c_socket.io_server.sublime-workspace
.project
socket.io_server
need.todo

# Project files, i.e. `.project`, `.actionScriptProperties` and `.flexProperties`
# should NOT be excluded as they contain compiler settings and other important
# information for Eclipse / Flash Builder.